<!DOCTYPE html>
<html>

<head>
  
  <title>Instituto San Martín</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta charset="utf-8">



  <!--STYLES    END-->
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/importer.css">


    

<!--STYLES original END-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container">
    <%- partial('../partials/encabezado') %>

    <%- body %>

    <%- partial('../partials/pie')%>
  </div>
  <!--SCRIPTS -->
  <script src="/dependencies/sails.io.js"></script>
  <!--SCRIPTS END-->
  
</body>

</html>
