<div class="row">
  <div class="col-md-12">

    <div class="jumbotron text-white">
      <h1 style="text-align: center;">
        Bienvenido!
      </h1>
      <% flash.get('mensaje').forEach(function (msg) { %>
        <div class="alert alert-danger" role="alert">
          <%=msg%>
        </div>
        <% }) %>
          <p>

          </p>
    </div>
  </div>
  </div>
<div class="row">



</div>